* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0b111e; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(28, 43, 63, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    
    border: 1px solid rgba(0, 255, 255, 0.3); 
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
}


.container h1 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    text-shadow: 0 0 6px rgba(255,255,255,0.4);
}


label {
    display: block;
    color: #00ffff;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}


input[type="text"],
select {
    width: 100%;
    padding: 10px;
    background-color: #0f1f2e;
    border: 2px solid #00ffff;   
    border-radius: 6px;
    color: white;
    outline: none;
    transition: 0.3s ease;
}


input[type="text"]:focus,
select:focus {
    border: 2px solid #00ffff;

    
    box-shadow: 
        0 0 10px #00ffff,

       
        inset 0 0 8px #00ffff;

    outline: none;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
    margin-top: 10px;
}


input,
select,
button {
    outline: none;
}


select option {
    background: #1c2b3f;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}


.register-btn {
    background: transparent;
    color: #00ffff;
}


.clear-btn {
    background: #ff3b6b;
    color: white;
    margin-left: 15px;
}


button:focus {
    box-shadow: 0 0 8px #00ffff;
}
.success-box {
    text-align: center;
    color: #00ffff;
    font-size: 24px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
.success-box {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(28, 43, 63, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);

    text-align: center;
    color: #00ffff;
    font-size: 20px;
    animation: fadeIn 1s ease-in-out;
}